[package]
name = "runtime"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0"

ir = { path = "../ir" }

[build-dependencies]
nasm-rs = "0.3.1"
cc = "1.0"
